<div class="container-fluid border m-2 p-2 rounded">
    <h1 class="display-6">Orders</h1>
    <hr>
    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for an order">
    </div>
    <br>
    <br>
    <table class="table table-responsive table-hover">
        <thead style="background-color:slategray">
            <tr>
                <th>Sno.</th>
                <th>Customer Name</th>

                <th>Email</th>
                <th>Phone</th>
                <th>Product Name</th>

                <th>Quantity</th>
                <th>Total Price</th>
                <th>Order Status</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor='let order of (orders$|async) | filter:searchText,index as i' (click)='showDetails(order,orderInfo)'>
                <td>{{i+1}} </td>
                <td>{{order.user.name}} </td>

                <td>{{order.user.email}} </td>
                <td>{{order.user.phone}} </td>
                <td>{{order.product.name}} </td>

                <td>{{order.quantity}} </td>
                <td>{{order.quantity * order.product.price }} Dt </td>
                <td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                        <label (click)='changeStatus("pending" ,order)' class="btn  btn-sm" [class.btn-warning]='order.status=="pending"' [class.btn-light]='order.status!="pending"'>
                            P
                        </label>
                        <label (click)='changeStatus("completed",order)' class="btn btn-light btn-sm" [class.btn-success]='order.status=="completed"' [class.btn-light]='order.status!="completed"'>
                            S
                        </label>

                    </div>
                </td>

            </tr>
        </tbody>

    </table>
</div>


<ng-template #orderInfo>
    <div class="p-4 m-3">

        <button (click)='close()' type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>


        <div class="row">

            <table class="table table-bordered table-dark col-lg-8">

                <tr>
                    <th>Order ID</th>
                    <td>{{selectedOrder?._id}}</td>


                </tr>
                <tr>
                    <th>Order Date</th>
                    <td>{{selectedOrder?.created_at | date}}</td>

                </tr>
                <tr>
                    <th>Product Name</th>
                    <td>{{selectedOrder.product.name}}</td>

                </tr>
                <tr>
                    <th>Product Category</th>
                    <td>{{selectedOrder.product.category.name}}</td>

                </tr>
                <tr>
                    <th>Quantity</th>
                    <td>{{selectedOrder.quantity}}</td>

                </tr>
                <tr>
                    <th>Unit Price</th>
                    <td>{{selectedOrder.price}}</td>

                </tr>
                <tr>
                    <th>Total Amount</th>
                    <td>{{selectedOrder.quantity * selectedOrder.price }}</td>

                </tr>

                <tr>
                    <th>Order Status</th>
                    <td>
                        <span class="badge" [class.badge-warning]='selectedOrder.status=="pending"' [class.badge-success]='selectedOrder.status=="completed"'>{{selectedOrder.status}}</span>
                    </td>

                </tr>


            </table>


        </div>
        <div class="col-lg-4">
            <img class="img-thumbnail mx-auto" src="http://localhost:3000/{{selectedOrder.product.productImage}}" alt="">
        </div>

    </div>
</ng-template>